node-red-dashboard.json
[
    {
        "id": "1cc9b539847add5c",
        "type": "tab",
        "label": "VRSTeam",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cac4f513fa5c10e0",
        "type": "mqtt in",
        "z": "1cc9b539847add5c",
        "name": "",
        "topic": "collision",
        "qos": "1",
        "datatype": "json",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "b742a74b5b722cb5"
            ]
        ]
    },
    {
        "id": "b4a6b487cd6d6d03",
        "type": "mqtt in",
        "z": "1cc9b539847add5c",
        "name": "",
        "topic": "overturning",
        "qos": "1",
        "datatype": "json",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "b742a74b5b722cb5"
            ]
        ]
    },
    {
        "id": "8387b54da8b6601f",
        "type": "mqtt in",
        "z": "1cc9b539847add5c",
        "name": "",
        "topic": "combust",
        "qos": "1",
        "datatype": "json",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "b742a74b5b722cb5"
            ]
        ]
    },
    {
        "id": "89d57dd72a5b7ec7",
        "type": "mqtt in",
        "z": "1cc9b539847add5c",
        "name": "",
        "topic": "flooded",
        "qos": "2",
        "datatype": "json",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "b742a74b5b722cb5"
            ]
        ]
    },
    {
        "id": "b742a74b5b722cb5",
        "type": "function",
        "z": "1cc9b539847add5c",
        "name": "Decode Accident Type",
        "func": "// Check the accident type and process accordingly\nmsg.payload[\"longitude\"] = [msg.payload[\"loc\"][0], \"N\"]\nmsg.payload[\"latitude\"] = [msg.payload[\"loc\"][1], \"W\"]\n\nswitch (msg.payload[\"tp\"]) {\n    case \"c\":\n        msg.payload[\"severity\"] = (msg.payload[\"val\"][0] ** 2 + msg.payload[\"val\"][1] ** 2 + msg.payload[\"val\"][2] ** 2)/(10**4);\n        break;\n    case \"o\":\n        // Assuming 'values' is an array with 3 elements for x, y, and z axes\n        msg.payload[\"severity\"] = msg.payload[\"val\"][2] / 10;\n        break;\n    case \"f\":\n        msg.payload[\"severity\"] = msg.payload[\"val\"] / 10;\n        break;\n    case \"w\":\n        // Assuming 'values' is an array with a single element for temperature or moisture\n        msg.payload[\"severity\"] = msg.payload[\"val\"] / 10;\n        break;\n    default:\n        // Handle unknown accident type\n        break;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "824f3d8532c8c163",
                "a914429fc87765e3",
                "96e0332c66bd1548",
                "798d43f0ed8e7a70"
            ]
        ]
    },
    {
        "id": "824f3d8532c8c163",
        "type": "debug",
        "z": "1cc9b539847add5c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "798d43f0ed8e7a70",
        "type": "ui_text",
        "z": "1cc9b539847add5c",
        "group": "7bca353b879f139c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "longitude",
        "format": "{{msg.payload[\"longitude\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 620,
        "wires": []
    },
    {
        "id": "a914429fc87765e3",
        "type": "switch",
        "z": "1cc9b539847add5c",
        "name": "switch by types",
        "property": "payload[\"tp\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "c",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "o",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "f",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "w",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "7379b4d85a21e519",
                "21810bfbcf298d09",
                "b6f94be541695652",
                "a69cd7a9e3977cca"
            ],
            [
                "04f811dd35dc2ec6",
                "41413e7063082f4e",
                "3ba1e2cdaacb9138"
            ],
            [
                "b559811f2c972b7b",
                "dda9d5f0c05d605d",
                "ec4366828bfe312f"
            ],
            [
                "a2e91a07fc2f113f",
                "b79a9236350674d8",
                "7da1f3e2279e4877"
            ],
            []
        ]
    },
    {
        "id": "b6f94be541695652",
        "type": "ui_text",
        "z": "1cc9b539847add5c",
        "group": "85e4cd6b07b8899f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "collision severity",
        "format": "{{msg.payload[\"severity\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "04f811dd35dc2ec6",
        "type": "ui_text",
        "z": "1cc9b539847add5c",
        "group": "86bbbd8d0248cba6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "overturning x, y, z ",
        "format": "{{msg.payload[\"val\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "b559811f2c972b7b",
        "type": "ui_text",
        "z": "1cc9b539847add5c",
        "group": "d74d684d53e72db7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload[\"val\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "21810bfbcf298d09",
        "type": "ui_text",
        "z": "1cc9b539847add5c",
        "group": "85e4cd6b07b8899f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "collision x, y, z ",
        "format": "{{msg.payload[\"val\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "a2e91a07fc2f113f",
        "type": "ui_text",
        "z": "1cc9b539847add5c",
        "group": "92fc6cb81100d892",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "moisture",
        "format": "{{msg.payload[\"val\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 640,
        "wires": []
    },
    {
        "id": "7379b4d85a21e519",
        "type": "debug",
        "z": "1cc9b539847add5c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 20,
        "wires": []
    },
    {
        "id": "a69cd7a9e3977cca",
        "type": "ui_gauge",
        "z": "1cc9b539847add5c",
        "name": "",
        "group": "85e4cd6b07b8899f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "collision severity level",
        "label": "units",
        "format": "{{msg.payload[\"severity\"]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 80,
        "wires": []
    },
    {
        "id": "41413e7063082f4e",
        "type": "ui_text",
        "z": "1cc9b539847add5c",
        "group": "86bbbd8d0248cba6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "overturning severity",
        "format": "{{msg.payload[\"severity\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "ec4366828bfe312f",
        "type": "ui_text",
        "z": "1cc9b539847add5c",
        "group": "d74d684d53e72db7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "combust severity",
        "format": "{{msg.payload[\"severity\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "7da1f3e2279e4877",
        "type": "ui_text",
        "z": "1cc9b539847add5c",
        "group": "92fc6cb81100d892",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "flooded severity",
        "format": "{{msg.payload[\"severity\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 600,
        "wires": []
    },
    {
        "id": "3ba1e2cdaacb9138",
        "type": "ui_gauge",
        "z": "1cc9b539847add5c",
        "name": "",
        "group": "86bbbd8d0248cba6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "overturning severity level",
        "label": "units",
        "format": "{{msg.payload[\"severity\"]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "dda9d5f0c05d605d",
        "type": "ui_gauge",
        "z": "1cc9b539847add5c",
        "name": "",
        "group": "d74d684d53e72db7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "combust severity level",
        "label": "units",
        "format": "{{msg.payload[\"severity\"]}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 400,
        "wires": []
    },
    {
        "id": "b79a9236350674d8",
        "type": "ui_gauge",
        "z": "1cc9b539847add5c",
        "name": "",
        "group": "92fc6cb81100d892",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "flooded severity level",
        "label": "units",
        "format": "{{msg.payload[\"severity\"]}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 560,
        "wires": []
    },
    {
        "id": "96e0332c66bd1548",
        "type": "ui_text",
        "z": "1cc9b539847add5c",
        "group": "7bca353b879f139c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "latitude",
        "format": "{{msg.payload[\"latitude\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "8fde701c.6c6c3",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com:1883",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7bca353b879f139c",
        "type": "ui_group",
        "name": "GPS",
        "tab": "c19ddfcf.06e82",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85e4cd6b07b8899f",
        "type": "ui_group",
        "name": "collision",
        "tab": "c19ddfcf.06e82",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86bbbd8d0248cba6",
        "type": "ui_group",
        "name": "overturning",
        "tab": "c19ddfcf.06e82",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d74d684d53e72db7",
        "type": "ui_group",
        "name": "combust",
        "tab": "c19ddfcf.06e82",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92fc6cb81100d892",
        "type": "ui_group",
        "name": "flooded",
        "tab": "c19ddfcf.06e82",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c19ddfcf.06e82",
        "type": "ui_tab",
        "name": "VRS dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]